---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro'
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
---
<Layout title="Joel Ccasane Arias">
    <Header></Header>
    <main>
        <Hero></Hero>
        <Experience></Experience>
        <Education></Education>
        <Skills></Skills>
    </main>
    <Footer></Footer>
</Layout>
